*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.header{
    position: absolute;
    width: 100%;
    /* height: 110px; */
    height: 15vh;
    font-size: 20px;
    background-color: rgba(206, 206, 206, 0.851);
    /* position: relative; */
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    padding: 3% 3%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
}
nav img{
    width: 145px;
    height: 90px;
    left: 40px;
    top: 7px;
    position: absolute;
}

.navbar{
    display: flex;
    align-items: flex-start;
    color: black;
    text-decoration: none;
}

.navbar ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0px 6rem;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.navbar ul li :hover{
    color: red;
    transition: 0.3s;
}
.body{
    background-image: url(assets/smoke\ background.jpg);
    background-size: cover;
}
.overview{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 32px;
    text-align: center;
    top: 15vh;
    margin-bottom: 5%;
    background-image: url(assets/smoke\ background.jpg);
    background-size: cover;
}
.desc{
    text-align: justify;
    width: 90%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;

}
footer{
    position: absolute;
    text-align: left;
    padding-top: 30px;
    font-size: 32px;
    /* top: 245vh; */
    /* top: 256vh; */
    top: auto;
    width: 100%;
    /* height: 250px; */
    height: 35vh;
    padding-left: 6%;
    background-color: rgba(206, 206, 206, 1);
    list-style: none;
    z-index: 1;
    font-family: Roboto;
    text-transform: none;
}

footer img{
    position: absolute;
    width: 115px;
    height: 115px;
    padding: 20px;
    padding-left: 0%;
    text-align: left;
    float: left;
    object-fit: cover;
    text-decoration: none;
}

footer ul li{
    
    padding: 0px 5rem;
    display: inline-block;
    list-style: none;
    color: black;
    text-decoration: none;
}

#instagram{
    position: absolute;
    top: 75px;
    left: 40px;
    width: 200px;
}

#twitter{
    position: absolute;
    top: 75px;
    width: 115px;
    left: 400px;
}

#facebook{
    position: absolute;
    top: 75px;
    width: 90px;
    left: 720px;
}

#instagramaccount{
    position: absolute;
    font-size: 30px;
    top: 110px;
    left: 175px;
}

#twitteraccount{
    position: absolute;
    font-size: 30px;
    top: 110px;
    left: 495px;
    color: black;
}

#facebookaccount{
    position: absolute;
    font-size: 30px;
    top: 110px;
    left: 805px;
    color: black;
}

#copyright2022{
    position: absolute;
    font-size: 30px;
    top: 195px;
    left: 90px;
}

#warning{
    position: absolute;
    top: 65px;
    width: 250px;
    height: 150px;
    right: 50px;
}

@media screen and (max-width: 800px) {
    .header{
        font-size: 5px;
        text-align: right;
        display: flex;
        flex-direction: column;
        padding: 0px 1rem;
        
    }
    .header img{
        width: 50%;
        max-width: 110px;
        height: 100%;
        max-height: 80px;
        left: 3%;
        top: 50%;
        transform: translate(-3%, -50%);
        
    }
    .navbar ul li{
        width: 100%;
        display: flex;
        font-size: 12px;
        margin-top: 1%;
        padding-top: 2%;
        padding-right: 1%;
        padding-bottom: 2%;
        flex-direction: column;
        /* left: 65%; */
        
    }

    .overview{
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 22px;
        text-align: center;
        top: 15vh;
        margin-bottom: 5%;
        background-size: cover;
    }
    .desc{
        text-align: justify;
        width: 90%;
        padding-top: 10%;
        padding-bottom: 40%;
        padding-left: 10%;
    
    }

    footer{
        display: block;
        position: relative;
        text-align: left;
        font-size: 28px;
        width: 100%;
        height: 54vh;
        list-style: none;
    }
    footer ul li{
        display: block;
        float: none;
    }
    
    #instagram{
        position: absolute;
        top: 20%;
        bottom: 80%;
        left: 1%;
        right: 99%;
    }
    #instagramaccount{
        visibility: hidden;

    }

    #twitter{
        position: absolute;
        top: 20%;
        bottom: 80%;
        left: 35%;
        right: 65%;
        
    }
    #twitteraccount{
        visibility: hidden;
    }

    #facebook{
        position: absolute;
        top: 20%;
        bottom: 80%;
        left: 61%;
        right: 39%;
    }
    #facebookaccount{
        visibility: hidden;
    }
    
    #copyright2022{
        position: absolute;
        font-size: 28px;
        top: 55%;
        bottom: 45%;
        left: 6%;
    }
    
    #warning{
        position: absolute;
        top: 60%;
        bottom: 40%;
        left: 6%;
    }
}